In [5]:
import pandas as pd
import tweepy
from tweepy import OAuthHandler
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt

### Connecting with Twitter API

In [3]:
%run ./keys.ipynb

In [6]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

### Political Sentiment:
- Dataframes of tweets of each party. 
- Dataframes of mentions of users for each party. 
- Dataframes of tweets of each president of the party. 
- Dataframes of mentions of users for each president.
- Machine learning for evalutating the sentiment of tweets and mentions.

## 1. PARTIDO POPULAR

In [23]:
# last 100 tweets of PP
pp_tweets = [tweet for tweet in tweepy.Cursor(api.user_timeline,
                                           screen_name='populares',
                                           tweet_mode='extended',
                                           exclude_replies=True).items(100)]

In [42]:
pp_json_response = [tweet._json for tweet in pp_tweets]
df_pp_alltweets = pd.json_normalize(pp_json_response)

In [40]:
# numerical columns pp
# user.statuses_count: número total de tweets de la cuenta

df_pp_alltweets.describe()

,id,retweet_count,favorite_count,user.id,user.followers_count,user.friends_count,user.listed_count,user.favourites_count,user.statuses_count,retweeted_status.id,...,quoted_status.user.utc_offset,quoted_status.user.time_zone,quoted_status.user.statuses_count,quoted_status.user.lang,quoted_status.geo,quoted_status.coordinates,quoted_status.place,quoted_status.contributors,quoted_status.retweet_count,quoted_status.favorite_count
count,1.000000e+02,100.00000,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,3.900000e+01,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
mean,1.380171e+18,318.34000,188.320000,20509689.0,820280.0,5295.0,4895.0,44481.0,101975.0,1.380062e+18,...,NaN,NaN,615944.0,NaN,NaN,NaN,NaN,NaN,7.0,9.0
std,2.726226e+14,1078.51651,507.848022,0.0,0.0,0.0,0.0,0.0,0.0,3.043319e+14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.379710e+18,8.00000,0.000000,20509689.0,820280.0,5295.0,4895.0,44481.0,101975.0,1.379556e+18,...,NaN,NaN,615944.0,NaN,NaN,NaN,NaN,NaN,7.0,9.0
25%,1.379888e+18,51.75000,0.000000,20509689.0,820280.0,5295.0,4895.0,44481.0,101975.0,1.379842e+18,...,NaN,NaN,615944.0,NaN,NaN,NaN,NaN,NaN,7.0,9.0
50%,1.380137e+18,92.00000,77.500000,20509689.0,820280.0,5295.0,4895.0,44481.0,101975.0,1.380069e+18,...,NaN,NaN,615944.0,NaN,NaN,NaN,NaN,NaN,7.0,9.0
75%,1.380445e+18,194.25000,150.500000,20509689.0,820280.0,5295.0,4895.0,44481.0,101975.0,1.380235e+18,...,NaN,NaN,615944.0,NaN,NaN,NaN,NaN,NaN,7.0,9.0
max,1.380593e+18,10012.00000,4058.000000,20509689.0,820280.0,5295.0,4895.0,44481.0,101975.0,1.380588e+18,...,NaN,NaN,615944.0,NaN,NaN,NaN,NaN,NaN,7.0,9.0

In [28]:
# los tweets que ellos dan me gusta
pp_favs = [tweet for tweet in tweepy.Cursor(api.favorites, screen_name='populares').items(100)]

In [ ]:
# statuses
pp_statuses = [tweet for tweet in tweepy.Cursor(api.statuses_lookup, screen_name='populares').items(100)]

## 2. PSOE

In [41]:
# last 100 tweets of PP
psoe_tweets = [tweet for tweet in tweepy.Cursor(api.user_timeline,
                                           screen_name='psoe',
                                           tweet_mode='extended',
                                           exclude_replies=True).items(100)]

In [43]:
psoe_json_response = [tweet._json for tweet in psoe_tweets]
df_psoe_alltweets = pd.json_normalize(psoe_json_response)

In [45]:
df_psoe_alltweets.head(3)

,created_at,id,id_str,full_text,truncated,display_text_range,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted_status.coordinates,retweeted_status.place,retweeted_status.contributors,retweeted_status.is_quote_status,retweeted_status.retweet_count,retweeted_status.favorite_count,retweeted_status.favorited,retweeted_status.retweeted,retweeted_status.possibly_sensitive,retweeted_status.lang
0,Fri Apr 09 19:50:00 +0000 2021,1380608956276428801,1380608956276428801,🚌El Gobierno establecerá objetivos anuales de ...,False,"[0, 277]","<a href=""https://studio.twitter.com"" rel=""nofo...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fri Apr 09 18:45:00 +0000 2021,1380592598247673860,1380592598247673860,🚘Debemos anticiparnos al nuevo modelo de MOVIL...,False,"[0, 274]","<a href=""https://studio.twitter.com"" rel=""nofo...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fri Apr 09 18:28:15 +0000 2021,1380588384830291972,1380588384830291972,RT @sanchezcastejon: Finalizo este viaje a Áfr...,False,"[0, 139]","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,...,NaN,NaN,NaN,False,116.0,401.0,False,False,False,es

## 3. PODEMOS

In [46]:
# last 100 tweets of PP
podemos_tweets = [tweet for tweet in tweepy.Cursor(api.user_timeline,
                                           screen_name='podemos',
                                           tweet_mode='extended',
                                           exclude_replies=True).items(100)]

podemos_json_response = [tweet._json for tweet in podemos_tweets]
df_podemos_alltweets = pd.json_normalize(podemos_json_response)

In [47]:
df_podemos_alltweets.head(3)

,created_at,id,id_str,full_text,truncated,display_text_range,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted_status.quoted_status.retweet_count,retweeted_status.quoted_status.favorite_count,retweeted_status.quoted_status.favorited,retweeted_status.quoted_status.retweeted,retweeted_status.quoted_status.possibly_sensitive,retweeted_status.quoted_status.lang,quoted_status_permalink.url,quoted_status_permalink.expanded,quoted_status_permalink.display,retweeted_status.quoted_status.user.entities.url.urls
0,Fri Apr 09 19:09:18 +0000 2021,1380598715321348106,1380598715321348106,Estas son las propuestas que hemos presentado ...,False,"[0, 153]","<a href=""http://twitter.com/download/android"" ...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fri Apr 09 18:37:00 +0000 2021,1380590584990199810,1380590584990199810,Iglesias o Ayuso. https://t.co/VBoppR1Heq,False,"[0, 17]","<a href=""https://about.twitter.com/products/tw...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fri Apr 09 17:11:14 +0000 2021,1380569001835790336,1380569001835790336,RT @IreneMontero: Es enormemente preocupante e...,False,"[0, 140]","<a href=""https://about.twitter.com/products/tw...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 4. CUIDADANOS

In [48]:
# last 100 tweets of Ciudadanos
ciudadanos_tweets = [tweet for tweet in tweepy.Cursor(api.user_timeline,
                                           screen_name='ciudadanoscs',
                                           tweet_mode='extended',
                                           exclude_replies=True).items(100)]

ciudadanos_json_response = [tweet._json for tweet in ciudadanos_tweets]
df_ciudadanos_alltweets = pd.json_normalize(ciudadanos_json_response)

In [49]:
df_ciudadanos_alltweets.head(3)

,created_at,id,id_str,full_text,truncated,display_text_range,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted_status.place.id,retweeted_status.place.url,retweeted_status.place.place_type,retweeted_status.place.name,retweeted_status.place.full_name,retweeted_status.place.country_code,retweeted_status.place.country,retweeted_status.place.contained_within,retweeted_status.place.bounding_box.type,retweeted_status.place.bounding_box.coordinates
0,Fri Apr 09 19:29:49 +0000 2021,1380603876127150088,1380603876127150088,🔙 Por más que insistimos desde Cs al Gobierno ...,False,"[0, 260]","<a href=""https://studio.twitter.com"" rel=""nofo...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fri Apr 09 19:28:50 +0000 2021,1380603631427321856,1380603631427321856,"RT @Beatriz_Pino_: 👏🏻👏🏻 Teresa Portela, la esp...",False,"[0, 140]","<a href=""https://mobile.twitter.com"" rel=""nofo...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fri Apr 09 18:50:03 +0000 2021,1380593871692967939,1380593871692967939,RT @AnaMartinezVid1: Los segundos escalones de...,False,"[0, 140]","<a href=""https://mobile.twitter.com"" rel=""nofo...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 5. VOX

In [50]:
# last 100 tweets of VOX
vox_tweets = [tweet for tweet in tweepy.Cursor(api.user_timeline,
                                           screen_name='vox_es',
                                           tweet_mode='extended',
                                           exclude_replies=True).items(100)]

vox_json_response = [tweet._json for tweet in vox_tweets]
df_vox_alltweets = pd.json_normalize(vox_json_response)

In [51]:
df_vox_alltweets.head(3)

,created_at,id,id_str,full_text,truncated,display_text_range,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted_status.quoted_status.quoted_status_id,retweeted_status.quoted_status.quoted_status_id_str,retweeted_status.quoted_status.quoted_status_permalink.url,retweeted_status.quoted_status.quoted_status_permalink.expanded,retweeted_status.quoted_status.quoted_status_permalink.display,quoted_status.quoted_status_id,quoted_status.quoted_status_id_str,quoted_status.quoted_status_permalink.url,quoted_status.quoted_status_permalink.expanded,quoted_status.quoted_status_permalink.display
0,Fri Apr 09 19:07:53 +0000 2021,1380598357245227012,1380598357245227012,RT @monasterioR: No asocio Vallecas con la izq...,False,"[0, 140]","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fri Apr 09 18:34:15 +0000 2021,1380589893852803074,1380589893852803074,RT @madrid_vox: 🗣 @monasterioR: “Las feminista...,False,"[0, 139]","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fri Apr 09 18:34:03 +0000 2021,1380589845395996673,1380589845395996673,RT @vox_es: ✋ Solo VOX se opone al cierre de n...,False,"[0, 140]","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN