In [1]:
import pandas as pd
import tweepy
from tweepy import OAuthHandler
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In this notebook, we will get:
- Dataframes of tweets of each president of the party. 
- Dataframes of mentions of users for each president.

### Connecting with Twitter API

In [2]:
%run ./keys.ipynb
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

## 1. PARTIDO POPULAR

In [70]:
pp_mentions = [tweet for tweet in tweepy.Cursor(api.search, 
                                                q='@populares OR "partido popular" OR "el pp" OR "los del pp"', 
                                                lang="es", 
                                                tweet_mode='extended',
                                                result_type="recent").items(500)]

In [71]:
pp_mentions_json = [tweet._json for tweet in pp_mentions]
df_pp_mentions = pd.json_normalize(pp_mentions_json)

In [85]:
df_pp_mentions.head(3)

,created_at,id,id_str,full_text,truncated,display_text_range,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,place.id,place.url,place.place_type,place.name,place.full_name,place.country_code,place.country,place.contained_within,place.bounding_box.type,place.bounding_box.coordinates
0,Sat Apr 10 11:19:59 +0000 2021,1380842992962039809,1380842992962039809,RT @RubenSanchezTW: Cuando @JM_Kichi llegó a l...,False,"[0, 140]","<a href=""http://twitter.com/download/android"" ...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sat Apr 10 11:19:56 +0000 2021,1380842983944228864,1380842983944228864,RT @RubenSanchezTW: Cuando @JM_Kichi llegó a l...,False,"[0, 140]","<a href=""http://twitter.com/download/android"" ...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sat Apr 10 11:19:55 +0000 2021,1380842978378399744,1380842978378399744,RT @RubenSanchezTW: Cuando @JM_Kichi llegó a l...,False,"[0, 140]","<a href=""http://twitter.com/download/android"" ...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN